*{
    font-family: Roboto;
}

.thumbnail {
    width: 140px;
    height: 140px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

article .header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

article .content>*{
    width: min-content;
    text-align: center;
}

.imgcont, .content{
    justify-content: center;
    align-items: center;
    gap: 60px
}

.imgcont{
    margin-top: 50px;
    margin-bottom: 200px;
}

.text{
    background-color: #E5E7EB;
    font-weight: lighter;
    font-style: oblique;
    color: #1F2937;
    font-size: 36px;
    justify-content: center;
    padding: 200px;
    padding-left: 520px;
    padding-right: 520px;
    text-align: left;
}

.text strong{
    text-align: right;
}

.signup{
    gap: 400px;
    background-color: #3882F6;
    width: max-content;
    padding: 70px;
}