@import url('./header.css');
@import url('./footer.css');
@import url('./article.css');

*{
    margin: 0;
}

.col, .row {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}